.fab {
    color: black;

    padding-right: 20px;
}

.fas {
    color: black;
    padding-right: 20px;
}

body {
    color: black;
    background-color: white;
}

.spacer {
    height: 6vh;
}
.scrolled-navbar{
    /* https://stackoverflow.com/questions/14904731/add-a-drop-shadow-to-a-top-fixed-nav-bar-using-bootstrap */
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.dark {
    color: black;
}

.navbar{
    height: 5vh !important;
}

.navbar-brand{
    margin-right: 50px !important;
}


#intro {
    background-color: white;
    height: 100vh;
}

#intro > .row {
    margin: auto;
}



#intro-text{
    text-align: center;
    height: 100%;
}

.intro-text{
    font-family: 'Monda', sans-serif;
    font-size: 32px;
}

.card-title, h1, h2, .job-title, .job-company{
    font-family: 'Monda', sans-serif;
}

.main-text, button, .job-duties-list {
    font-family: 'Montserrat', sans-serif;
}


#main-content > .row {
    margin: 0 15% 0 15%;
}

.card{
    width: 20rem;
    margin: auto;
}

.project-image{
    height: 50px;
    width: 50px;
}

.project-contents{
    height: 550px;
}



img{
    height: 500px;
    width: 500px;

}

.project-links {
    display: flex;
    justify-content: flex-end;
}

.my-button {

    height: 100%;
    border-width: 2px;
    border-color: black;
    border-radius: 10%;
    color: black;
    background-color: transparent;
}

.section-content {
    display: flex;
    justify-content: center;
    min-height: 500px;
}

.list-group-item {
    background-color: white;
    border-color: black;
}

.job-details{
    display: flex;
}

.job-date {
    margin-left: auto;
}

.job-duties-list, .school-details-list {
    list-style-type: circle;
}

.job-duties-list > li {
    margin : 5px;
}

.list-group-item-action{
    color: black;
}

.list-group-item-action:hover{
    color: black;
}

.item-active {
    color: white;
    background-color: black;
}

.school-hidden {
    display:none !important;
}

.align-right-parent {
    display: flex;
}

.align-right-child {
    margin-left: auto;
}




@media screen and (max-width: 750px) {
    #main-content > .row {
        margin: 0;
    }
}