.fab {
    color: black;

    padding-right: 20px;
}

.fas {
    color: white;
    padding-right: 20px;
}

body {
    color: white;
    background-color: black;
}

.spacer {
    height: 6vh;
}

.light {
    color: white;
}

.navbar{
    height: 5vh !important;
}

.navbar-brand{
    margin-right: 50px !important;
}


#intro {
    background-color: black;
    height: 100vh;
}

#intro > .row {
    margin: auto;
}



#intro-text{
    text-align: center;
    height: 100%;
}

.intro-text{
    font-family: 'Monda', sans-serif;
    font-size: 32px;
}

.card-title, h1, h2, .job-title, .job-company{
    font-family: 'Monda', sans-serif;
}

.main-text, button, .job-duties-list {
    font-family: 'Montserrat', sans-serif;
}


#main-content > .row {
    margin: 0px 300px 0px 300px;
}

.card{
    width: 20rem;
    margin: auto;
}

.project-image{
    height: 50px;
    width: 50px;
}

.project-contents{
    height: 550px;
}



img{
    height: 500px;
    width: 500px;

}

.project-links {
    display: flex;
    justify-content: flex-end;
}

.my-button {

    height: 100%;
    border-width: 5px;
    border-color: white;
    border-radius: 10%;
    color: white;
    background-color: transparent;
}

.section-content {
    display: flex;
    justify-content: center;
    min-height: 500px;
}

.list-group-item {
    background-color: black;
    border-color: white;
}

.job-details{
    display: flex;
}

.job-date {
    margin-left: auto;
}

.job-duties-list {
    list-style-type: circle;
}

.job-duties-list > li {
    margin : 5px;
}

@media screen and (max-width: 750px) {
    #main-content > .row {
        margin: 0;
    }
}